.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 2rem;

  padding: 1.5rem;
  border-radius: 8px;

  background-color: #232323;
}

.container_image {
  background-color: #616161;
  padding: 3rem;
  border-radius: 8px;

}

img {
  max-width: 7rem;
}

.container_types {
  display: flex;
  gap: 1rem;
}
